# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
site/node_modules
site/dist
site/.cache

.env

data/*
!data/.gitkeep
!data/download_data.sh
